html,
body {
  margin: 0;
  padding: 0;
}
body,
select {
  font-family: 'Roboto Condensed', sans;
  font-weight: 400;
  font-size: 16px;
}
b {
  font-weight: 700;
}
#logo {
  position: absolute;
  top: 10px;
  left: 292px;
  width: 216px;
}
#container {
  position: relative;
  margin: 0 auto;
  width: 800px;
}
#canvas {
  margin: 0 auto;
  width: 800px;
  height: 430px;
}
#panel {
  position: absolute;
  width: 200px;
  top: 10px;
  right: 0px;
  padding: 0px;
}
#goal {
  height: 120px;
  width: 100%;
}
#levels {
  width: 100%;
  margin: 4px 0 15px 0;
  padding: 3px 0px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  outline: none;
}
#help {
  font-size: 14px;
  margin-top: 0;
}
#message {
  visibility: hidden;
  position: absolute;
  top: 310px;
  left: 50px;
  padding: 1px;
}
#message #solved {
  font-size: 24px;
  font-weight: 700;
}
#controls {
  overflow: hidden;
}
.controlBox {
  text-align: center;
  float: left;
}
.left {
  margin-left: 120px;
}
.right {
  margin-left: 80px;
}
.sortable {
  margin: 0;
  width: 240px;
  min-height: 100px;
  padding: 7px 0 30px 0;
  list-style-type: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#program:empty::after {
  content: "把你的函数放在这！";
  font-weight: bold;
  color: #ccc;
}
#available:empty::after {
  content: "没有任何函数欧！";
  font-weight: bold;
  color: #ccc;
}
.transformer {
  display: inline-block;
  padding: 1px 4px;
  margin: 0;
  background-color: #eee;
  border-bottom: 1px solid #a2a2a2;
  border-radius: 5px;
}
.sortable li {
  width: 214px;
  line-height: 24px;
  margin: 0px auto 7px auto;
  padding: 2px 7px 2px 7px;
  background-color: #eee;
  border-bottom: 1px solid #a2a2a2;
  border-radius: 5px;
  cursor: move;
}
li.sortable-ghost {
  opacity: 0.4;
}
.buttons {
  margin: 5px 0;
}
.button {
  cursor: pointer;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  background-color: #f0f0f0;
  padding: 2px 5px;
  border: 1px solid #666;
  border-bottom: 1px solid #000;
  border-radius: 3px;
}
.button:hover {
  background-color: #d7d7d7;
}
p.footer {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #444;
}
a {
  color: #CC333F;
}
.cube {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  margin: 0 1px;
  border: 1px solid #444;
  border-radius: 3px;
}
.stack {
  font-size: 0;
  line-height: 2px;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
}
.stack .cube {
  width: 9px;
  height: 9px;
  vertical-align: baseline;
}
.X {
  background-color: #fff;
  border: 1px dotted #222;
}
.Cyan {
  background-color: #00A0B0;
}
.Brown {
  background-color: #6A4A3C;
}
.Red {
  background-color: #CC333F;
}
.Orange {
  background-color: #EB6841;
}
.Yellow {
  background-color: #EDC951;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
#ghstars {
  margin-top: 8px;
}
